@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

.container {
	width: 100vw;
	height: auto;
	margin: 0;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
}
.background-img {
	width: 100%;
	height: auto;
	object-fit: cover;
	position: absolute;
	z-index: -10;
}
.header-container {
	padding: 0 20px;
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
}
.logo-img {
	width: 100px;
	height: 50px;
}
.profile-img {
	width: 28px;
	height: 28px;
	padding: 10px;
}
.white-box-top {
	top: 125px;
	position: absolute;
	z-index: -5;
	width: 100%;
	height: 100px;
	background: #ffffff;
	border-radius: 55px;
	box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.1);
}
.white-box-top-under {
	z-index: -5;
	width: 100%;
	height: 75px;
}
.white-box {
	width: 100%;
	height: calc(100vh - 200px);
	background-color: #fff;
	padding: 0 60px;
}
.white-box-inner {
	width: calc(100% - 120px);
	height: 600px;
	position: relative;
}
.title-continer {
	width: calc(100% - 60px);
	display: flex;
	justify-content: space-between;
	height: 40px;
}
.title-bar {
	margin-top: 31px;
	width: 6px;
	height: 15px;
	background-color: #dcb9ff;
}
.title-text {
	margin-top: 30px;
	font-family: "NanumSquare";
	font-weight: 800;
	font-size: 17px;
	color: #000000;
	margin-left: 10px;
}
.group-img {
	margin-top: 40px;
	width: 100%;
	height: auto;
}
.group-detail-text {
	margin-top: 20px;
	font-family: "NanumSquare";
	font-weight: 400;
	font-size: 10px;
	line-height: 15px;
	color: #000000;
}
.filter-container {
	margin: 7px 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
}
.filter-btn {
	width: auto;
	height: 15px;
	padding: 0 10px;
	border: 2px solid #abbdf4;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	margin-right: 7px;
}
.filter-text {
	font-family: "NanumSquare";
	font-weight: 700;
	font-size: 10px;
	line-height: 16px;
	color: #000;
}
.tag-container {
	margin: 7px 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
}
.tag {
	width: auto;
	height: 15px;
	background: rgba(217, 217, 217, 0.6);
	border-radius: 8px;
	font-family: "NanumSquare";
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
	color: #000000;
	padding: 0 5px;
	margin-right: 7px;
}
.submit-btn {
	width: 200px;
	height: 35px;
	background-color: #dcb9ff;
	border-radius: 15px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
	margin: 0 auto;
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.submit-text {
	font-family: "NanumSquare";
	font-weight: 700;
	font-size: 14px;
	line-height: 35px;
	color: #ffffff;
}
.submit-btn-img {
	width: 25px;
	height: 25px;
	margin: 4px 0 0 7px;
}