@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url("https://fonts.googleapis.com/earlyaccess/nanumpenscript.css");

.container {
	width: 100vw;
	height: auto;
	margin: 0;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
}
.background-img {
	width: 100%;
	height: auto;
	object-fit: cover;
	position: absolute;
	z-index: -10;
}
.header-container {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo-img {
	position: absolute;
	width: 154px;
	height: 84px;
	top: 55px;
}
.logo-line-img {
	position: absolute;
	width: 180.05px;
	height: 70.9px;
	top: 114.76px;
	transform: rotate(360.8deg);
}
.profile-img {
	width: 28px;
	height: 28px;
	padding: 10px;
}
.btn-container {
	margin-top: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-img {
	margin: 0 7px;
}
.btn-text {
	margin-left: 52px;
	font-family: "NanumSquare";
	font-weight: 800;
	font-size: 16px;
	position: absolute;
	top: 225px;
}
.btn-text1 {
	margin-left: 43px;
}
.group-container {
	width: 100%;
	margin-top: 60px;
}
.white-box-top {
	top: 320px;
	position: absolute;
	z-index: -5;
	width: 100%;
	height: 100px;
	background: #ffffff;
	border-radius: 55px;
	box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.1);
}
.white-box-top-under {
	z-index: -5;
	width: 100%;
	height: 50px;
}
.white-box {
	width: 100%;
	min-height: calc(100vh - 380px);
	background-color: #fff;
	padding: 0 30px;
}
.title-continer {
	width: calc(100% - 60px);
	display: flex;
	justify-content: space-between;
	height: 50px;
}
.title-bar {
	width: 6px;
	height: 15px;
	background-color: #dcb9ff;
	margin-top: 2px;
}
.title-text {
	font-family: "NanumSquare";
	font-weight: 800;
	font-size: 16px;
	color: #000000;
	margin-left: 10px;
}
a {
	text-decoration: none;
	color: #000000;
	height: 13px;
	cursor: pointer;
}
.more-text {
	font-family: "NanumSquare";
	font-weight: 800;
	font-size: 12px;
	color: #000000;
	margin-top: 3px;
}
.group-wrapper {
	width: calc(100% - 60px);
	height: auto;
}
.group-box {
	width: 100%;
	height: 140px;
	box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.inner {
	width: calc(100% - 25px);
	height: 115px;
	display: flex;
}
.group-img-container {
	width: 112px;
	height: 112px;
	border: 1px solid #000;
	margin-right: 12.5px;
}
.group-text-container {
	width: calc(100% - 130px);
	height: 112px;
	position: relative;
}
.group-title-text {
	font-family: "NanumSquare";
	font-weight: 800;
	font-size: 12px;
	color: #000000;
	margin-top: 3px;
}
.group-title-arrow {
	font-family: "Nanum Pen Script", cursive;
	font-weight: 500;
	font-size: 15px;
	color: #000000;
	position: absolute;
	top: 1.5px;
	right: 0;
}
.tag-container {
	margin: 7px 0;
	display: flex;
}
.tag {
	width: auto;
	height: 15px;
	background: rgba(217, 217, 217, 0.6);
	border-radius: 8px;
	font-family: "NanumSquare";
	font-weight: 400;
	font-size: 5px;
	line-height: 16px;
	text-align: center;
	color: #000000;
	padding: 0 5px;
	margin-right: 7px;
}
.calendar-img {
	width: 9px;
	height: 9px;
	margin: 2px 5px 0 1px;
}
.group-date-text {
	font-family: "NanumSquare";
	font-weight: 700;
	font-size: 6px;
	color: #000000;
}
.group-profile-img {
	width: 25px;
	height: 25px;
}
.group-dot-container {
	width: 50px;
	height: 25px;
	float: left;
	display: flex;
	align-items: center;
}
.dot-container {
	display: flex;
	margin-left: 7px;
}
.group-dot {
	width: 2px;
	height: 2px;
	background-color: #abbdf4;
	border-radius: 50%;
	margin-right: 5px;
}
.group-dot-text {
	font-family: "NanumSquare";
	font-weight: 700;
	font-size: 6px;
	text-align: center;
	color: #abbdf4;
}
.request-btn {
	width: 115px;
	height: 20px;
	background: #dcb9ff;
	border-radius: 10px;
	display: flex;
}
.request-btn-text {
	font-family: "NanumSquare";
	font-weight: 500;
	font-size: 6px;
	line-height: 20px;
	color: #ffffff;
	margin-left: 12px;
}
.request-btn-img {
	width: 11px;
	height: 11px;
	margin: 4px 0 0 3px;
	float: left;
}
