{%load static%}
<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GroupPage</title>
		<link rel="stylesheet" href="GroupPage.css" />
	</head>
	<body>
		<div class="container">
			<img src="images/Background.svg" class="background-img" />
			<div class="header-container">
				<img src="images/Logo.svg" class="logo-img" />
				<img src="images/Profile.svg" class="profile-img" />
			</div>
			<div class="Back-container">
				<img src="images/Backkey.svg" class="backkey-img"/>
			</div>

			<div class="groupstart-container">
				<span style="background-color: #FFFFFF; margin-right: 5px; width: 10px">&nbsp;</span>
				<span><span class="bold-text">이서연</span>님의 그룹</span>
			</div>
			<div class="groups">
				<!-- 그룹1 -->
				<a href="GroupDetail.html" style="text-decoration: none;">
				<div class="group-card">
					<p class="bold-text group-name">그룹 이름입니다</p>
					<div class="tags">
						<span class="tag">#향수</span>
						<span class="tag">#비누</span>
						<span class="tag">#서울</span>
						<span class="tag">#성수</span>
						<span class="tag">#6명</span>
						<br/>
						<br/>
						<span class="condition">8/27 - 9/1</span>
						<span class="condition">마포구, 서대문구</span>
						<span class="condition">수공예, 미술</span>
						<div class="members-container">
							<div class="detail_member">
								<img src="images/Woman1.svg" style="margin-bottom: 0px;"/>
								<p class="bold-text name">거은</p>
							</div>
							<div class="detail_member">
								<img src="images/Woman2.svg"/>
								<p class="bold-text name">나은</p>
							</div>
							<div class="detail_member">
								<img src="images/Man1.svg"/>
								<p class="bold-text name">다은</p>
							</div>
							<div class="detail_member">
								<img src="images/Woman3.svg"/>
								<p class="bold-text name">라은</p>
							</div>
							<div class="detail_member">
								<img src="images/Man1.svg"/>
								<p class="bold-text name">다은</p>
							</div>
							<div class="detail_member">
								<img src="images/Woman2.svg"/>
								<p class="bold-text name">라은</p>
							</div>
						</div>
						
					</div>
				</div>
				</a>
				<!-- 그룹2 -->
				<a href="GroupDetail.html" style="text-decoration: none;">
					<div class="group-card">
						<p class="bold-text group-name">그룹 이름입니다</p>
						<div class="tags">
							<span class="tag">#향수</span>
							<span class="tag">#비누</span>
							<span class="tag">#서울</span>
							<span class="tag">#성수</span>
							<span class="tag">#6명</span>
							<br/>
							<br/>
							<span class="condition">8/27 - 9/1</span>
							<span class="condition">마포구, 서대문구</span>
							<span class="condition">수공예, 미술</span>
							<div class="members-container" style="justify-content: start;">
								<div class="detail_member">
									<img src="images/Woman1.svg" style="margin-bottom: 0px;"/>
									<p class="bold-text name">가은</p>
								</div>
								<div class="detail_member">
									<img src="images/Woman2.svg"/>
									<p class="bold-text name">나은</p>
								</div>
								<div class="detail_member">
									<img src="images/Man1.svg"/>
									<p class="bold-text name">다은</p>
								</div>
							</div>						
						</div>
					</div>
				</a>
				<!-- 그룹3 -->
				<a href="GroupDetail.html" style="text-decoration: none;">
					<div class="group-card">
						<p class="bold-text group-name">그룹 이름입니다</p>
						<div class="tags">
							<span class="tag">#향수</span>
							<span class="tag">#비누</span>
							<br/>
							<br/>
							<span class="condition">8/27 - 9/1</span>
							<span class="condition">마포구, 서대문구</span>
							<span class="condition">수공예, 미술</span>
							<div class="members-container" style="justify-content: start;">
								<div class="detail_member">
									<img src="images/Woman1.svg" style="margin-bottom: 0px;"/>
									<p class="bold-text name">가은</p>
								</div>
								<div class="detail_member">
									<img src="images/Woman2.svg"/>
									<p class="bold-text name">나은</p>
								</div>
								<div class="detail_member">
									<img src="images/Man1.svg"/>
									<p class="bold-text name">다은</p>
								</div>
								<div class="detail_member">
									<img src="images/Woman3.svg"/>
									<p class="bold-text name">라은</p>
								</div>
							</div>
							
						</div>
					</div>
				</a>
			</div>
		</div>
		<script src="GroupPage"></script>
	</body>
</html>