{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupDetail</title>
    <link rel="stylesheet" href="GroupPage.css" />

</head>
<body>
    <div class="container">
        <img src="images/Background.svg" class="background-img" />
        <div class="header-container">
            <img src="images/Logo.svg" class="logo-img" />
            <img src="images/Profile.svg" class="profile-img" />
        </div>
        <div class="Back-container">
            <img src="images/Backkey.svg" class="backkey-img"/>
        </div>

        <div class="groupstart-container">
            <p class="bold-text" style="font-size: 16px;">그룹 이름입니다</p>
            <div class="detail_tags">
                <span class="detail_tag">#향수</span>
                <span class="detail_tag">#비누</span>
                <span class="detail_tag">#서울</span>
                <span class="detail_tag">#성수</span>
                <span class="detail_tag">#6명</span>
                <br/> <br/>
                <div class="detail_members">
                    <div class="detail_member">
                        <img src="images/Woman1.svg" style="margin-bottom: 0px;"/>
                        <p class="bold-text name">서연</p>
                    </div>
                    <div class="detail_member">
                        <img src="images/Woman2.svg"/>
                        <p class="bold-text name">서연</p>
                    </div>
                    <div class="detail_member">
                        <img src="images/Man1.svg"/>
                        <p class="bold-text name">서연</p>
                    </div>
                    <div class="detail_member">
                        <img src="images/Woman3.svg"/>
                        <p class="bold-text name">서연</p>
                    </div>
                    <div class="detail_member">
                        <img src="images/Man1.svg"/>
                        <p class="bold-text name">서연</p>
                    </div>
                    <div class="detail_member">
                        <img src="images/Woman2.svg"/>
                        <p class="bold-text name">서연</p>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <!--  -->
        <div class="recommendation-container">
            <p class="bold-text" style="font-size: 16px; margin-top: 10%;">우리 그룹을 위한 원데이 클래스 추천</p>
            <div class="class-card">
                <img src="images/ClassImg.png"/>
            </div>
        </div>

    </div>
</body>
</html>