{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupDetail</title>
    <link rel="stylesheet" href="{% static 'css/GroupPage.css' %}" />

</head>
<body>
    <div class="container">
        <img src="{% static 'img/Background.svg' %}" class="background-img" />
        <div class="header-container">
            <img src="{% static 'img/Logo.svg' %}" class="logo-img" />
            <img src="{% static 'img/Profile.svg' %}" class="profile-img" />
        </div>
        <div class="Back-container">
            <img src="{% static 'img/Backkey.svg' %}" class="backkey-img"/>
        </div>

        <div class="groupstart-container">
            <p class="bold-text" style="font-size: 16px;">{{group.name}}</p>
            <div class="detail_tags">
                <span class="detail_tag">#{{group.category}}</span>
                <span class="detail_tag">#{{group.category}}</span>
                <span class="detail_tag">#{{group.place}}</span>
                <span class="detail_tag">#{{group.place}}</span>
                <span class="detail_tag">#{{group.total_people}}</span>
                <br/> <br/>
                <div class="detail_members">

                    <div class="detail_member">
                        <img src="images/Woman1.svg" style="margin-bottom: 0px;"/>
                        <p class="bold-text name">서연</p>
                    </div>
                    <div class="detail_member">
                        <img src="images/Woman2.svg"/>
                        <p class="bold-text name">서연</p>
                    </div>
                    <div class="detail_member">
                        <img src="images/Man1.svg"/>
                        <p class="bold-text name">서연</p>
                    </div>
                    <div class="detail_member">
                        <img src="images/Woman3.svg"/>
                        <p class="bold-text name">서연</p>
                    </div>
                    <div class="detail_member">
                        <img src="images/Man1.svg"/>
                        <p class="bold-text name">서연</p>
                    </div>
                    <div class="detail_member">
                        <img src="images/Woman2.svg"/>
                        <p class="bold-text name">서연</p>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <!--  -->
        <div class="recommendation-container">
            <p class="bold-text" style="font-size: 16px; margin-top: 10%;">우리 그룹을 위한 원데이 클래스 추천</p>
            {% for class in filtered_classes %}
            <div class="class-card">
                {{class.name}}
                <img src="{% static 'img/ClassImg.png' %}"/>
            </div>
            {% endfor %}
        </div>

    </div>
</body>
</html>